body{
    background: url(Home\ BG.jpg);
    background-blend-mode: multiply;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
img{
    width: 80px;
}
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    top: -22.5px;
}
.rounded-start{
    width: 200px;
}
@media(max-width:400px){
    .rounded-start{
        width: 130px;
    }
}
.card-text{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
