body{
    background: url(Home\ BG.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
img{
    width: 80px;
}
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    top: -22.5px;
}
.img-fluid{
    width: 370px;
}
@media(max-width:991px){
    .img-fluid{
        width: 200px;
    }
}
@media(max-width:500px){
    .card {
        top: -29px;
    }
}

@media(max-width:991px){
    form{
        margin-inline: auto;

    }
}
@media(max-width:500px){
    form{
        margin-inline: auto;

    }
}
form{
    width: 90%;
}


